body
{
	background-image: url("../picture/A1-background.jpeg");
    /* width: 100vw; */
    display: grid;
    grid-template-columns: 30% 1fr;
    column-gap: 1rem;
	text-decoration: none;
    align-items: top;
    justify-content: center;
}

.left-side h1{
    font-size: 1.6rem;
    margin: 0;
}

.menus, .suspendedMenu 
{
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    height: 85vh;
    overflow-y: auto;
}

.menus{
    display: block;
}

.suspendedMenu{
    display: none;
}