body
{
	background-image: url("../picture/A1-background.jpeg");
    /* width: 100vw; */
    display: grid;
    grid-template-columns: 30% 1fr;
    column-gap: 1rem;
	text-decoration: none;
    align-items: top;
    justify-content: center;
}

.left-side h1{
    font-size: 1.6rem;
    margin: 0;
}

.menus, .suspendedMenu 
{
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    height: 85vh;
    overflow-y: auto;
}

.menus{
    display: block;
}

.suspendedMenu{
    display: none;
}

.menus-label
{
	font-family: 'ADLaM Display', cursive;
	font-size: 1.1rem;
    font-weight: bold;
	text-align: left;
	color: #050505;
}

.instruction
{
	font-family: 'ADLaM Display', cursive;
	font-size: 1rem;
	text-align: left;
	color: #050505;
}

.radio-labels-row { 
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin-top: 0.3rem;
}

.position-labels-row { 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin-top: 0.3rem;
}

.class-range
{
    display: flex;
}

.range-input
{
    font-family: 'ADLaM Display', cursive;
    font-size: 0.8rem;
    color: #050505;
    width: 80%;
    margin-left: 0.125rem;
}

.text-input
{
    border-radius: 0.2rem;
    width: 10%; 
    height: 1.25rem;
    margin-left: 0.3125rem;
}
